asgiref==3.8.1
dj-database-url==3.0.0
Django==5.1.7
django-heroku==0.3.1
django-widget-tweaks==1.5.0
gunicorn==23.0.0
http_response==0.0.2.3
mysqlclient==2.2.7
narwhals==1.33.0
numpy==2.2.4
packaging==24.2
pandas==2.2.3
plotly==6.0.1
psycopg2==2.9.10
PyMySQL==1.1.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
whitenoise==6.9.0
